.heading{
width: 100%;
box-shadow: 20px 10px 19px rgb(230, 58, 36);
border-radius: 7px;
}
.beauty{
background-color: rgb(147, 255, 6);
float: none;
margin:10px ;
padding:6px ;
border-radius: 21px;
color: black;
box-shadow: 8px 8px 5px #175ac5;
}
.faces{
    font-size: 19px;
    box-shadow: 3px 3px 5px rgb(30, 23, 128);
}
.REALTIME2{
    font-size:medium ;
    margin:6px ;
    border-radius: 8px;
    } 
    canvas{
    border: 5px solid rgb(2, 80, 12);
    border-radius:10px ;
    margin-top: 125px;
    box-shadow:2px 2px 5px rgb(214, 250, 12) ;
    }
    .FOOTER{
    position: fixed;
    bottom: 0;
    background-color: salmon;
    text-align: center;
    width: 100%;
    }
